
<div class="container">
  <section class="home-info">
  <div class="home-image"><img src="/images/SadStreetChow.jpg">
  </div>
<h1>Welcome to Dog House</h1>
<p>We find dogs for people looking for a furry companion and people for dogs in search for a family.</p>
</section>
<div class="signup">
  <button><a href="/auth/signup">Sign up</a></button>
</div>
<div class="login">
  <button><a href="/auth/login">Login</a></button>
</div>
</div>

