<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dog House</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <header id="site-header">
      <div class="container">
        <div class="logo">
        <h1>Dog House</h1>
        </div>
        <nav id="main-nav">
           {{#if user}}
          <p class="username">{{user.username}}</p>
          {{/if}}
          <form method="GET" action="/">
            <button>Home</button>
          </form>
          {{#unless user}}
          <form method="GET" action="/auth/signup">
            <button>Sign up</button>
          </form>
            <form method="GET" action="/auth/login">
              <button href="/auth/login">Login</button>
            </form>
          {{/unless}}
          {{#if user}}
          <form class="logout-button button-div" method="POST" action="/auth/logout">
            <button>Log out</button>
          </form>
          {{/if}}
        </nav>
      </div>
    </header>
    <section class="site-main">
    {{{body}}}
</section>
    <footer id="site-footer">
      <div class="container">
        <p>&copy Ironhack</p>
      </div>
    </footer>
    <!-- <script src="main.js"></script> -->
  </body>
</html>
