{{this.owner}}
{{requests.message}}
{{requests.status}}

<form method="POST" action="/mydogs/{{dogs.id}}/request">
    <div class="field submit">
        <button class="btn" type="submit" value="accept">Accept</button>
        <button class="btn" type="submit" value="reject">Reject</button>
    </div>
</form>
