/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  margin: 24px 0 12px;
  font-size: 28px;
}

h2 {
  margin: 18px 0 12px;
  font-size: 24px;
}

h3 {
  margin: 12px 0 12px;
  font-size: 20px;
}

h4 {
  font-weight: lighter;
}

p {
  margin: 0 0 12px;
}



/* ---- layout ---- */

body {
  background: #ffc300;
  color: #fff;
}

#site-header {
  padding: 30px 0;
  color: #ffc300;
  background: #fff;
  background-size: cover;
}

.logo h1{
  font-size: 45px;
  color: #27afdc;
  text-shadow: 1px 1px 0  #111;
}
#site-header form{
  display: inline-block;

}
button { 
  background-color: #27afdc;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 10px 16px;
  color: #fff;
}
/* ------------------Homepage style----------------- */

.home-info {
  text-align: center;
}
.home-image img{
  height: 50vh;
}

#site-footer {
  color: #ffc300;
  background: #fff;
  background-size: cover;
  padding: 30px 0;
}

#site-main {
  margin-bottom: 80vh;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}
/*------------------ /dogs and mydogs style ----------------*/
.flex-parent {
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   /* align-content: flex-start; */
   align-items: center;
}

.dog-card {
   order: 0;
   flex: 0 1 auto;
   align-self: auto;
   padding: 15px;
   margin-bottom: 20px;
   line-height: 100%; 
   background-color: #27afdc;
   border-radius: 10px;
   width:25vh;
}

.dog-card a:hover {
  color: black;
}

.dog-card img {
  height: 20vh;
  width: 100%;
  display: block;
  border-radius: 10px;  
}

.dog-description {
  text-align: left;
}
.add-dog {
  padding-top: 5vh;
  margin-bottom: 5vh;
  align-self: baseline;
}

/*------------------ // ----------------*/

/* ----------------------/:dogId----------------- */

.request {
  width: 25vh;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}



/* ---- components ---- */

a {
  text-decoration: none;
  color: #27afdc;  

}

a.button {
  background-color: #27afdc;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

input {
  width: 100%;
  border-radius: 10px;
  border: none;
}
.checkbox {
  width: 15px;
}
select {
  width: 50%;
  height: 30px;
  border: none;
  font-size: 16px;
}
textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  border: none;
}
.more-info {
  border-radius: 10px;
  color: #fff;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  
}

.signup,
.login  {
  display: inline-block;
  text-align: center;
  margin-bottom: 3vh
}

.signup a,
.login  a {
  color: #fff;
}

.signup button,
.login  button {
  padding: 8px 14px;
  font-size: 16px;
  background-color: #27afdc;
}


/* ---- site-header ---- */
#site-header {
  overflow: hidden;
  margin-bottom: 20px;
}

#site-header .logo {
  float: left;
  margin: 0;
}

.username {
  font-size: 20px;
}

/* ---- site-header ---- */


#main-nav {
  float: right;
}

#main-nav li,
#main-nav ul {
  display: inline;
  list-style-type: none;
}

#main-nav li {
margin-right: 12px; 
}

#main-nav li:last-child {
  margin-right: 0;
}
#main-nav a {
  background-color: pink;
  color: black;
  padding: 6px 24px;
}

#main-nav a:hover {
  background-color: purple;
}

#main-nav a[disabled] {
  background-color: silver;
  color: black;
  padding: 6px 24px;
  cursor: default;
}

/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

.role {
  display: inline-block;
  padding: 10px;
}
form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #27afdc;
  cursor: pointer;
}

form .validation {
  margin: 5px 0 10px;
  color: red;
}

form .field.has-error label {
	color: red;
}
form .field.has-error input {
	border: 1px solid  red;
}

